<div class="flex items-center justify-center mt-5 min-h-screen bg-gray-100 px-4">
    <div class="text-center max-w-md">
        <mat-icon class="text-purple-700 icon-display">error_outline</mat-icon>
        <h1 class="text-5xl sm:text-6xl font-bold text-gray-800 mt-5">404</h1>
        <p class="text-lg sm:text-xl text-gray-600 mt-2">Page not found</p>
        <button routerLink="/shop" mat-flat-button 
            class="mt-4 px-6 py-2 bg-purple-700 text-white rounded-md shadow-md hover:bg-purple-800 transition">
            Back to shop
        </button>
    </div>
</div>
