.custom-badge .mat-badge-content{
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.5rem;
    line-height: 1.2rem;
    background: #7d00fa;
}

.custom-badge .mat-icon{
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

a{
    &.active{
        color: #7d00fa;
    }
}